@import "tailwindcss";


/* =========================
   USAGE PROGRESS BAR COLORS
   ========================= */

.bg-usage-safe {
  background-color: #000000; /* black */
}

.bg-usage-warning {
  background-color: #eab308; /* yellow-500 */
}

.bg-usage-danger {
  background-color: #ef4444; /* red-500 */
}